body {
        background-color: white;
}

#Home {
        padding: 3px;
        width: 300px;
        float:left;
        width: 30%;
}

#Away {
        padding: 3px;
        width: 300px;
        float:left;
        width: 40%;
}

#Estimation {
        position: absolute;
        left: 50%
}

#HattrickLogin {
        width: 20%;
}

#Results {
        width: 30%;
}
