body {
        background-color: white;
}

fieldset {
        width: 40%;
}

#Home {
        margin-left: 10%;
}

#Away {
        margin-left: 50%;
}

#Estimation {
        position: absolute;
        left: 50%
}