body {
        background-color: yellow;
}

select {
        position: fixed;
        align: right;
}

h1 {
        position: fixed;
        align: center;
        left: 38%;
        top: 16%;
}

#Estimation {
        position: fixed;
        left: 48%;
        top: 85%;
}

#HattrickLogin {
        width: 20%;
}

#Results {
        position: fixed;
        width: 60%;
        top: 75%;
        left: 20%;
        outline: 2px solid black;
        outline-offset: 7px;
}

#Home {
        position: fixed;
        top: 30%;
        left: 20%;
        width: 25%;
        outline: 2px solid black;
        outline-offset: 7px;
}

#Away {
        position: fixed;
        top: 30%;
        left: 55%;
        outline: 2px solid black;
        outline-offset: 7px;
        width: 25%;
}

#HattrickConnect {
        position: absolute;
        outline: 2px solid black;
        outline-offset: 7px;
        top: 3%;
        left: 78%
}

#AdminCP {
        position: fixed;
        top:90%;
        left: 46%;
}

.ResultsClass {
        margin-right: 10px;
}

.RatingsClass {
        position: absolute;
        left: 45%;
}