{%extends 'main.html'%}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
</head>

<body>
    {%block content%}
        <fieldset id="Results">
            <legend>Results:</legend>
            <label>Home win percentage: 0%</label><br>
            <label>Draw percentage: 0%</label><br>
            <label>Away win percentage: 0%</label><br>
            <label>Home goals average: 0.0</label><br>
            <label>Away goals average: 0.0</label><br>
        </fieldset>
        <fieldset id="HattrickLogin">
            <legend>Connect to Hattrick:</legend>
            <label for="HattrickUsername">Hattrick Username:</label>
            <input type="text" id="HattrickUsername"><br>
            <label for="HattrickPassword">Hattrick Password:</label>
            <input type="password" id="HattrickPassword"><br>
            <input type="submit" value="Login"><br>
        </fieldset>
        {%for status in statuses%}
            <fieldset id="{{status}}">
                <legend>{{status}}:</legend>
                {%for position in positions%}
                <p>
                    <label for="{{status}} {{position}}">{{position}} rating:</label>
                    <select id="{{status}} {{position}}">
                    {%for rating in ratings%}
                        <option value="{{ratings[rating]}}">{{ratings[rating]}}</option>
                    {%endfor%}
                    </select>
                </p>
                {%endfor%}
            </fieldset>
        {%endfor%}
        <br>
        <input type="button" value="Estimate" id="Estimation"><br>
        <a href="admin/admin.html">Admin control panel</a>
    {%endblock%}
</body>
</html>