{%extends 'main.html'%}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{%block head%}
{{super()}}
{%endblock%}
<body>
{%block content%}
{% if from_index is sameas true %}
{%block connectInterface%}{%endblock%}
{%else%}
{%block extra%}{%endblock%}
{%endif%}
<div>
    <h1>The Best Match Predictor</h1>
    {%for status in statuses%}
    <div id="{{status}}">
        <legend>{{status}} team:</legend>
        {%for position in positions%}
        <p>
            <label for="{{status}} {{position}}" class="ResultsClass">{{position}} rating:</label>
            <select id="{{status}} {{position}}" class="RatingsClass">
                {%for rating in ratings%}
                <option value="{{ratings[rating]}}">{{ratings[rating]}}</option>
                {%endfor%}
            </select>
        </p>
        {%endfor%}
    </div>
    {%endfor%}
</div>
<br>
<div id="Results">
    <legend>Results:</legend>
    <label class="ResultsClass"><b>Home win percentage:</b> 0%</label>
    <label class="ResultsClass"><b>Draw percentage:</b> 0%</label>
    <label class="ResultsClass"><b>Away win percentage:</b> 0%</label>
    <label class="ResultsClass"><b>Home goals average:</b> 0.0</label>
    <label><b>Away goals average:</b> 0.0</label>
</div>
<form action="/EstimationEngine">
    <input type="submit" value="Estimate" id="Estimation"><br>
</form>
{% if from_index is sameas true%}
{%block AdminCP%}{%endblock%}
{%endif%}
{%endblock%}
</body>
</html>