{%extends 'main.html'%}

<!DOCTYPE html>
<html lang="en">
{%block head%}
{{super()}}
<link href="{{url_for('admin_bp.static',filename='admin.css')}}" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/delete',
                function() {
              //do nothing
            });
            return false;
          });
        });

</script>
{%endblock%}
<body>
{%block content%}
<div id="LogoutButton">
    <input type="submit" value="Logout" onclick="location.href='{{url_for('index_bp.home',filename='index.html')}}'">
</div>
<div id="DatabaseNumberLimit">
    <legend>Introdu gama de numere de identificare pentru meciurile care vor fi introduse in baza de date</legend>
    <label for="InferiorLimit">Limita inferioara</label>
    <input type="text" id="InferiorLimit" name="InferiorLimit"><br>
    <label for="SuperiorLimit">Limita superioara</label>
    <input type="text" id="SuperiorLimit" name="SuperiorLimit"><br>
    <button type="button">Import</button>
</div>
<div id="DatabaseOperations">
    <legend>Operatii cu baza de date</legend>
    <button type="button">Creare baza de date</button>
    <br>
    <form>
        <a href="#" id="test">
            <button type="button" class="btn btn-default">Stergere baza de date</button>
        </a>
    </form>
</div>
{%endblock%}
</body>
</html>