{%extends 'main.html'%}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{%block head%}
{{super()}}
<link href="{{url_for('admin_bp.static',filename='admin.css')}}" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });






</script>

{%endblock%}
<body>
{%block content%}
<div id="LogoutButton">
    <form action="/LogoutToIndex">
        <input type="submit" value="Logout">
    </form>
</div>
<div id="DatabaseNumberLimit">
    <legend>Introdu gama de numere de identificare pentru meciurile care vor fi introduse in baza de date</legend>
    <label for="InferiorLimit">Limita inferioara</label>
    <input type="text" id="InferiorLimit" name="InferiorLimit"><br>
    <label for="SuperiorLimit">Limita superioara</label>
    <input type="text" id="SuperiorLimit" name="SuperiorLimit"><br>
    <form action="/import">
        <input type="submit" value="Import">
    </form>
</div>
<div id="DatabaseOperations">
    <legend>Operatii cu baza de date</legend>
    <form action="/create">
        <input type="submit" value="Creare baza de date"><br>
    </form>
    <form action="/delete">
        <input type="submit" value="Stergere baza de date">
    </form>
</div>
{%endblock%}
</body>
</html>