{%extends 'main.html'%}

<!DOCTYPE html>
<html lang="en">
{%block head%}
{{super()}}
<link href="{{url_for('admin_bp.static',filename='admin.css')}}" rel="stylesheet">
{%endblock%}
<body>
{%block content%}
<div id="LogoutButton">
    <input type="submit" value="Logout">
</div>
<div id="DatabaseNumberLimit">
    <legend>Introdu gama de numere de identificare pentru meciurile care vor fi introduse in baza de date</legend>
    <label for="InferiorLimit">Limita inferioara</label>
    <input type="text" id="InferiorLimit" name="InferiorLimit"><br>
    <label for="SuperiorLimit">Limita superioara</label>
    <input type="text" id="SuperiorLimit" name="SuperiorLimit"><br>
    <button type="button">Import</button>
</div>
<div id="DatabaseOperations">
    <legend>Operatii cu baza de date</legend>
    <button type="button">Creare baza de date</button><br>
    <button type="button">Stergere baza de date</button>
</div>
{%endblock%}
</body>
</html>