{%extends 'interface.html'%}

<html lang="en">
{%block head%}
{{super()}}
<link href="{{url_for('connected_bp.static',filename='connected.css')}}" rel="stylesheet">
{%endblock%}
<body>
{%block extra%}
<div id="LogoutButton">
    <form action="/DisconnectFromHattrick">
        <input type="submit" value="Logout">
    </form>
</div>
<div id="UserInformation">
    <label>User information:</label><br/>
    <label>User name: {{user_data['user name']}}</label>
    <label>({{user_data['user id']}})</label><br>
    <label>Supporter: {{user_data['supporter']}}</label><br>
    <label>Country: {{user_data['country']}}</label>
    <label>({{user_data['country id']}})</label><br>
</div>
<div id="TeamList">
    <label>Team list:</label><br/>
    <label>{{user_data['team 1 name']}}</label>
    <label>({{user_data['team 1 id']}})</label><br>
    <label>{{user_data['team 2 name']}}</label>
    <label>({{user_data['team 2 id']}})</label><br>
    <label>{{user_data['team 3 name']}}</label>
    <label>({{user_data['team 3 id']}})</label>
</div>
<form action="/GetMatch" method="post">
    <div id="TeamChoice">
        <label>Choose team:</label><br>
        <input type="radio" id="FirstTeam" name="HattrickTeams" value="{{user_data['team 1 id']}}" {{checked[0]}}>
        <label for="FirstTeam">{{user_data['team 1 name']}}</label><br>
        <input type="radio" id="SecondTeam" name="HattrickTeams" value="{{user_data['team 2 id']}}" {{checked[1]}}>
        <label for="SecondTeam">{{user_data['team 2 name']}}</label><br>
        <input type="radio" id="ThirdTeam" name="HattrickTeams" value="{{user_data['team 3 id']}}" {{checked[2]}}>
        <label for="ThirdTeam">{{user_data['team 3 name']}}</label><br>
    </div>
    <div id="NextMatches">
        <label for="FutureMatchList">Choose a match from the future matches:</label><br/>
        <select name="FutureMatches" size="5" id="FutureMatchList" style="width: 18%">
            {% for i in range(user_matches|length) %}
            {%if i==0%}
            <option value="{{user_matches[i][0]}}" selected>{{user_matches[i][1]}} - {{user_matches[i][2]}}</option>
            {%else%}
            <option value="{{user_matches[i][0]}}">{{user_matches[i][1]}} - {{user_matches[i][2]}}</option>
            {%endif%}
            {%endfor%}
        </select><br><br><br><br><br>
        <input type="submit" id="SubmitMatchButton" value="OK"><br>
    </div>
</form>
{%endblock%}
</body>
</html>