{%extends 'interface.html'%}

<!DOCTYPE html>
<html lang="en">
{%block head%}
{{super()}}
{%endblock%}
<body>
{%block connectInterface%}
<div id="HattrickConnect">
    <legend>Connect to Hattrick:</legend>
    <label for="HattrickUsername" class="ResultsClass">Hattrick Username:</label>
    <input type="text" id="HattrickUsername"><br>
    <label for="HattrickPassword" class="ResultsClass">Hattrick Password:</label>
    <input type="password" id="HattrickPassword"><br>
    <input type="submit" value="Login"
           onclick="location.href='{{url_for('connected_bp.connected', filename='connected.html')}}'"><br>
</div>
{%endblock%}
{%block AdminCP%}
<a href="{{url_for('admin_bp.admin',filename='admin.html')}}" id="AdminCP">Admin control panel</a>
{%endblock%}
</body>
</html>